BasedOnStyle: LLVM
IndentWidth: 3
TabWidth: 3
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: None

SortIncludes: false
